# 忽略文件夹，仅忽略当前目录下的对应文件夹
/build/
/devel/
/src/CMakeLists.txt
/src/robots/a1_description/meshes/
/src/robots/go1_description/meshes/
/src/robots/gh1_description/meshes/
/src/robots/gr1t1_description/meshes/
/src/robots/iris_description/meshes/
/src/robots/wl_description/meshes/