<?xml version="1.0"?>
<launch>
    <arg name="wname" default="TestSpace" />
    <arg name="rname" default="iris" />
    <arg name="robot_path" value="(find $(arg rname)_description)" />
    <arg name="dollar" value="$" />

    <!-- Gazebo options -->
    <!-- <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI" /> -->
    <!-- <arg name="paused" default="false" doc="Start Gazebo paused" /> -->
    <!-- <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file" /> -->
    <!-- <arg name="world_pose" default="-x 0 -y 0 -z 1.0 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at" /> -->
    <!-- <arg name="initial_joint_positions" default=" -J Joint1 0 -J Joint2 0 -J Joint3 0 -J Joint4 0 -J Joint5 0 -J Joint6 0" doc="Initial joint configuration of the robot" /> -->

    <arg name="paused" default="true" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />

    <arg name="user_debug" default="false" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find simulation_all)/worlds/$(arg wname).world" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
    </include>

    <!-- Set the robot urdf on the parameter server -->
    <!-- <param name="robot_description" textfile="$(find
    rm_65_b_description)/urdf/rm_65_b_description.urdf" /> -->

    <param name="robot_description" textfile="$(arg dollar)$(arg robot_path)/urdf/$(arg rname)_description.urdf" />

    <!-- Unpause the simulation after loading the robot model -->
    <arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />

    <!-- Spawn the robot in Gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen" args="-urdf -z 2.0 -model $(arg rname)_gazebo -param robot_description -unpause" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(arg dollar)$(arg robot_path)/config/ros_controllers.yaml" command="load" />

    <!-- Load joint controller configurations from YAML file to parameter server
    <rosparam file="$(find iris_config)/config/ros_controllers.yaml" command="load" /> -->

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="arm_position_controller " />

    <!-- Spawn the Gazebo ROS controllers -->
    <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller" />

    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
</launch>