<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 调用gazebo_ros2_control插件从description文件中读取ros2_control标签中的内容加载gazebo仿真硬件接口 -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <!-- 因为 gazebo_ros2_control 要启动 ros2_controll_node 来启动控制器 -->
      <!-- 要启动的控制器名称在 robot_control.yaml -->
      <parameters>$(find qa01)/config/robot_control.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
